<div id="results">
	<img class="thumbnail" src="http://graph.facebook.com/<%=@results["id"]%>/picture">
	<div class="home-link">
	  <%= link_to "#{@results["feed"]["data"][0]["from"]["name"]}", search_path(@search) %>
  </div>
</div>