<div class="welcome-header">
  <h1>PageFetcher</h1>
</div>

<div class="search-bar">
  <%= form_for(@search, :remote => true ) do |f| %>
    <% if @search.errors.any? %>
      <ul>
        <% @search.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
     </ul>
    <% end %>

  <div class = "fields">
    <%= f.text_field :search_id, :placeholder => "Search Based On ID" %>
    <button type="submit" class="btn" style = "margin-bottom: 10px; margin-left: 4px;"><i class="icon-plus-sign"></i></button>
  </div>
  <div class="description">
    <p>Entrez Facebook UID (i.e. 188091757763). Voyez la magique!</p>
  </div>
</div>
  <% end %>


  <div id="results">
  </div>